.DS_Store
*.zip

# Compiled class files
*.class

# Log files
*.log

# Package Files
*.jar
*.war
*.ear

# IntelliJ IDEA project files
.idea/
*.iml
*.iws

# Eclipse project files
.classpath
.project
.settings/

# NetBeans project files
nbproject/private/
build/
nbbuild/
dist/

# Target directory (build output)
target/

# Gradle build files
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

/CODE/mysql-connector-j-9.2.0
